* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  background-color: #ffffff;
  border-bottom: 1px solid #eee;
  width: 100%;
  margin-bottom: 10px;
}

.logo h2 a {
  text-decoration: none;
  color: #000;
}

.sp1 {
  color: #000;
}

.sp2 {
  color: green;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar .nav-links li a {
  text-decoration: none;
  color: #444;
  padding: 0.5rem;
}

.navbar .nav-links li a.active,
.navbar .nav-links li a:hover {
  color: #2b67f6;
  border-bottom: 2px solid #2b67f6;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 80%;
  max-height: 90%;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
}

label {
  margin-bottom: 0px;
  text-align: left;
  display: block;
}

.login-input input {
  position: relative;
  width: 100%;
}

input {
  display: block;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.login-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 75%;
  width: 100%;
  margin: 0 auto;
}

.google-btn {
  display: flex;
  background-color: #e9f8ec;
  color: black;
  padding: 12px 50px;
  width: fit-content;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.google-btn img {
  width: 20px;
  height: 20px;
  margin-right: 0px;
}
.google-btn:hover {
  background-color: #e9f8ec;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  position: relative;
  margin: 20px 0;
}
.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #e9f8ec;
  margin: 0 10px;
}

#login-form {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  flex-direction: column;
}

.login-btn {
  background-color: #8638e5;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 10px;
}

.login-btn:hover {
  background-color: #8638e5;
}

.options {
  position: relative;
  display: flex;
  gap: 4px;
  padding: 0 6px;
  align-items: center;
  justify-content: space-between;
  /* width: 100%; */
}
.remember-me {
  display: flex;
  width: 200px;
  align-items: center;
  gap: 4px;
}

.options a {
  color: red;
}
.options a:hover {
  color: darkred;
}

.login-footer {
  margin-top: 6px;
  display: flex;
  gap: 4px;
  flex-direction: column;
  padding: 0 16px;
}

@media screen and (max-width: 850px) {
  .container {
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
  }

  #login-form {
    max-width: 100%;
  }

  .image-section img {
    width: 100%;
  }

  .login-section {
    flex: none;
    width: 100%;
  }

  .login-header {
    max-width: 100%;
  }

  button {
    font-size: 14px;
    padding: 10px;
  }
}

.Eye-toggle {
  position: relative;
  display: flex;
  flex-direction: column;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 15px;
}
