body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 10px;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 80%;
  max-height: 90%;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
}

label {
  margin-bottom: 0px;
  text-align: left;
  display: block;
}

.signup-input input {
  position: relative;
  width: 95%;
}

.fullname-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

input {
  display: block;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.signup-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.signup-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}

.google-btn {
  display: flex;
  background-color: #e9f8ec;
  color: black;
  padding: 12px 50px;
  width: fit-content;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.google-btn img {
  width: 20px;
  height: 20px;
  margin-right: 0px;
}
.google-btn:hover {
  background-color: #e9f8ec;
}

.password-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  position: relative;
  margin: 20px 0;
}
.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #e9f8ec;
  margin: 0 10px;
}

#signup-form {
  width: 100%;
  max-width: 85%;
  margin: 0 auto;
  flex-direction: column;
}

.signup-btn {
  background-color: #8638e5;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 10px;
}

.signup-btn:hover {
  background-color: #8638e5;
}

.options {
  position: relative;
  display: flex;
  gap: 4px;
  padding: 0 6px;
  align-items: center;
  justify-content: space-between;
  /* width: 100%; */
}
.remember-me {
  display: flex;
  width: 200px;
  align-items: center;
  gap: 4px;
}

.options a {
  color: red;
}
.options a:hover {
  color: darkred;
}

.signup-footer {
  padding: 0 16px;
}

@media screen and (max-width: 850px) {
  .container {
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
  }

  #signup-form {
    max-width: 100%;
  }

  .image-section img {
    width: 100%;
  }

  .signup-section {
    flex: none;
    width: 100%;
  }

  .signup-header {
    max-width: 100%;
  }

  button {
    font-size: 14px;
    padding: 10px;
  }
}

.Eye-toggle {
  position: relative;
  display: flex;
  flex-direction: column;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 15px;
}
